<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-eequiv=""X-UA-Compatible" content=""IE=edge>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/main.css" />

        <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
            rel="stylesheet"
        />
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <title>Portfolio</title>
    </head>

    <body>
        <div class="frame">
            <div class="main_frame">
                <!-- left frame -->
                <div class="left_frame">
                    <div class="left_1">
                        <div class="left_1-1">
                            <img
                                src="images/profile.png"
                                width="156px"
                                height="142px"
                                alt=""
                            />
                        </div>
                        <div class="left_1-2"><%=user.name%></div>
                        <div class="left_1-3"><%=user.profession%></div>
                        <div class="left_icons">
                            <a class="link_href" href="">
                                <div class="icon">
                                    <img src="icon/Vector.svg" class="icon-1" />
                                </div>
                            </a>
                            <a class="link_href" href="">
                                <div class="icon">
                                    <img
                                        src="icon/Vector-1.svg"
                                        class="icon-1"
                                    />
                                </div>
                            </a>
                            <a class="link_href" href="">
                                <div class="icon">
                                    <img
                                        src="icon/Vector-2.svg"
                                        class="icon-1"
                                    />
                                </div>
                            </a>
                            <a class="link_href" href="">
                                <div class="icon">
                                    <img
                                        src="icon/Vector-3.svg"
                                        class="icon-1"
                                    />
                                </div>
                            </a>
                            <a class="link_href" href="">
                                <div class="icon">
                                    <img
                                        src="icon/Vector-4.svg"
                                        class="icon-1"
                                    />
                                </div>
                            </a>
                            <a class="link_href" href="">
                                <div class="icon">
                                    <img src="icon/Vector.svg" class="icon-1" />
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="marginer"></div>

                    <div class="left_2">
                        <div class="left_2-1">
                            <div class="left_2-1-1">Age:</div>
                            <div class="left_2-1-2">24</div>
                        </div>
                        <div class="left_2-1">
                            <div class="left_2-1-3">Residence:</div>
                            <div class="left_2-1-4">S.Korea</div>
                        </div>
                        <div class="left_2-1">
                            <div class="left_2-1-5">Freelance:</div>
                            <div class="left_2-1-6">Available</div>
                        </div>
                        <div class="left_2-1">
                            <div class="left_2-1-7">Address:</div>
                            <div class="left_2-1-8">S.Korea, Icheon</div>
                        </div>
                    </div>

                    <div class="marginer"></div>
                    <!-- Languages -->
                    <div class="left_3">
                        <div class="languages">LANGUAGES</div>
                        <div class="bangla-1">
                            Uzbek
                            <div class="lan_border">100%</div>
                        </div>
                        <div class="percent-1"></div>
                        <div class="bangla_1_1">
                            English
                            <div class="lan_border">80%</div>
                        </div>
                        <div class="percent-2"></div>
                        <div class="bangla_2_1">
                            Korean
                            <div class="lan_border">60%</div>
                        </div>
                        <div class="percent-3"></div>
                    </div>
                    <!-- end languages -->
                    <div class="marginer"></div>
                    <!-- skills -->
                    <div class="left_4">
                        <div class="Skills">Skills</div>
                        <div class="bangla">
                            Html
                            <div class="lan_border">90%</div>
                        </div>
                        <div class="percent-1-1"></div>
                        <div class="bangla_1">
                            CSS
                            <div class="lan_border">85%</div>
                        </div>
                        <div class="percent-2-1"></div>
                        <div class="bangla_2">
                            Js
                            <div class="lan_border">80%</div>
                        </div>
                        <div class="percent-3-1"></div>
                        <div class="bangla_3">
                            PHP
                            <div class="lan_border">75%</div>
                        </div>
                        <div class="percent-4-1"></div>
                        <div class="bangla_4">
                            WordPress
                            <div class="lan_border">85%</div>
                        </div>
                        <div class="percent-5-1"></div>
                    </div>
                    <!-- end skills -->
                    <div class="marginer"></div>
                    <!-- extra skills -->
                    <div class="left_5">
                        <div class="ExtraSkills">Extra Skills</div>
                        <div class="ex-skill-text">    
                            <div class="border">
                                <div class="border-1"></div>
                                <div class="border-2"></div>
                            </div>
                            <div class="text"><%=user.extra_skills[0]%></div>
                        </div>
                        <div class="ex-skill-text">    
                            <div class="border">
                                <div class="border-1"></div>
                                <div class="border-2"></div>
                            </div>
                            <div class="text"><%=user.extra_skills[1]%></div>
                        </div>
                        <div class="ex-skill-text">    
                            <div class="border">
                                <div class="border-1"></div>
                                <div class="border-2"></div>
                            </div>
                            <div class="text"><%=user.extra_skills[2]%></div>
                        </div>
                        <div class="ex-skill-text">    
                            <div class="border">
                                <div class="border-1"></div>
                                <div class="border-2"></div>
                            </div>
                            <div class="text"><%=user.extra_skills[3]%></div>
                        </div>
                        <!-- <div class="bang">Bootstrap, Materialize</div>
                        <div class="bang">Stylus, Sass, Less</div>
                        <div class="bang">Gulp, Webpack, Grunt</div>
                        <div class="bang">GIT Knowledge</div> -->
                    </div>
                    <!-- extra skills -->
                    <div class="marginer"></div>
                </div>
                <!-- end left frame -->

                <!-- midd frame -->
                <div class="midd_frame">
                    <div class="midd_top">
                        <div class="midd_top_div">
                            <div class="mid_top_frame">
                                <!-- ROUND -->
                                <div class="round_yellow"></div>
                                <div class="round_green"></div>
                                <div class="round_yellow_1"></div>
                                <div class="round_green_1"></div>
                                <div class="rectangle_yellow"></div>
                                <div class="rectangle_blue"></div>
                                <div class="triangle_red"></div>
                                <!-- END ROUND -->
                                <div class="midd_top_main_text">
                                    <%=user.profession%> in <%=user.work_place%>
                                </div>
                                <div class="midd_top_text">
                                    <%=user.about_me%>
                                </div>
                                <a class="link_href" href="">
                                    <div class="midd_top_btn">
                                        <div class="btn_text">HIRE ME</div>
                                        <div class="btn_icon">
                                            <img
                                                src="btn_icon/Vector.svg"
                                                alt=""
                                            />
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="midd_top_images">
                                <img src="images/Jonibek.png" alt="" />
                            </div>
                        </div>
                    </div>
                    <div class="midd_bot">
                        <div class="midd_bot_main_txt">My Services</div>
                        <div class="midd_bot_text"><%=user.service_desc%></div>
                        <div class="midd_boxs">
                            <div class="boxs">
                                <div class="box">                                
                                    <div class="box_images">
                                        <img src="box_images/Vector.svg" alt="">
                                        <img class="coding_icon_left" src="box_images/Vector_1_2.svg" alt="">
                                        <img class="coding_icon_midd" src="box_images/Vector_1.svg" alt="">
                                        <img class="coding_icon_right" src="box_images/Vector_1_1.svg" alt="">
                                    </div>
                                    <div class="box_main_txt">Web Development</div>
                                    <div class="box_text">BLog, E-commerce</div>
                                </div>

                                <div  class="box_main_txt">Web Development</div>
                                <div class="box_text">BLog, E-commerce</div>
                            </div>
                        
                        <div class="boxs">
                            <div class="box">
                                <div class="box_images">
                                    <img src="box_images/Vector-4.svg" alt="" />
                                </div>
                                <div class="box_main_txt">UI/UX Design</div>
                                <div class="box_text">
                                    Mobile App, Website Design
                                </div>
                            </div>
                        </div>
                        <div class="boxs">
                            <div class="box">
                                <div class="box_images">
                                    <img src="box_images/Vector-5.svg" alt="" />
                                </div>
                                <div class="box_main_txt">Sound Desigin</div>
                                <div class="box_text">
                                    Voice Over, Beat Making
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="midd_boxs">
                        <div class="boxs">
                            <div class="box">
                                <div class="box_images">
                                    <img src="box_images/game.svg" alt="" />
                                </div>
                                <div class="box_main_txt">
                                    Mobile App Design
                                </div>
                                <div class="box_text">
                                    Character Design, Back End
                                </div>
                            </div>
                        </div>
                        <div class="boxs">
                            <div class="box">
                                <div class="box_images">
                                    <img src="box_images/Vector-2.svg" alt="" />
                                </div>
                                <div class="box_main_txt">Photography</div>
                                <div class="box_text">
                                    Portrait, Product PhotoGraphy
                                </div>
                            </div>
                        </div>
                        <div class="boxs">
                            <div class="box">
                                <div class="end_box_main_text">Advertising</div>
                                <div class="end_box_text">
                                    orem Ipsum is simply dummy text of the
                                    printing and typesetting industry
                                    typesetting industry industry.
                                </div>
                                <a class="link_href" href="">
                                    <div class="end_box_link">
                                        <div>Order Now</div>
                                        <div>
                                        </div>
                                            <img
                                                class="end_box_icon"
                                                src="box_images/end_box.svg"
                                                alt=""
                                            />
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end midd frame -->
                <!-- right frame -->

                <div class="right_frame">
                    <a href="">
                        <div class="vector">
                            <img src="menu_icon/icons/Vector.svg" alt="" />
                        </div>
                    </a>

                    <div class="menu">
                        <a class="link_href" href="">
                            <div class="menu_icon_border">
                                <span class="tooltip">Home</span>
                                <img
                                    src="menu_icon/icons/Vector-1.svg"
                                    alt=""
                                />
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="menu_icon_border">
                                <span class="tooltip">coding</span>
                                <img src="menu_icon/Vector.svg" alt="" />
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="menu_icon_border">
                                <span class="tooltip">users</span>
                                <img src="menu_icon/Vector-1.svg" alt="" />
                            </div>
                        </a>

                      
                        <a class="link_href" href="">
                            <div class="menu_icon_border">
                                <span class="tooltip">store</span>
                                <img src="menu_icon/Vector-2.1.svg" alt="" />
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="menu_icon_border">
                                <span class="tooltip">article</span>
                                <img src="menu_icon/Vector-3.1.svg" alt="" />
                            </div>
                        </a>

                        <a class="link_href" href="">
                            <div class="menu_icon_border">
                                <span class="tooltip">chat</span>
                                <img src="menu_icon/Vector-4.1.svg" alt="" />
                            </div>
                        </a>
                    
                    </div>
                </div>
                <!-- END RIGHT FRAME -->
            </div>
        </div>
    </body>
</html>
